<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Message</title>
</head>
<body>
    <h1>Create New Message</h1>
    <form method="post" action="/new">
        <label>
            Name: <input type="text" name="user"/>
        </label>
        <label>
            Message: <textarea name="text"></textarea>
        </label>
        <button>Submit</button>
    </form>
</body>
</html>