<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message.user%>'s Message</title>
</head>
<body>
    <h1><%= message.user%>'s Message</h1>
    <p><%= message.text%></p>
    <p>Created on <%= message.added %></p>
</body>
</html>